<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="neon-border">
        <h1 class="neon-text">Michele Grimaldi</h1>
        <nav>
            <ul>
                <li><a href="/" class="neon-text">Home</a></li>
                <li><a href="/music" class="neon-text">Music</a></li>
                <li><a href="/contact" class="neon-text">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="neon-border">
        {% block content %}{% endblock %}
    </section>
    <footer class="neon-border">
        <p class="neon-text">&copy; 2024 Michele Grimaldi</p>
    </footer>
</body>
</html>


