{% extends "base.html" %}

{% block title %}Michele Grimaldi - Contact{% endblock %}

{% block content %}
<section id="contact-info">
    <h2>Contact Me</h2>
    <p>CV: <a href="{{ url_for('static', filename='music/CV.pdf') }}" download="Michele_Grimaldi_CV.pdf">Download CV</a></p>
    <p>Email: <a href="mailto:mikgrimaldi7@gmail.com">mikgrimaldi7@gmail.com</a></p>
    <p>Phone: [+39 351 976 1913]</p>
    <p>Listen to my music on <a href="https://michelegrimaldi014.bandcamp.com/">Bandcamp</a> and <a href="https://www.youtube.com/@m1ky_mi4e_music">YouTube</a>.</p>
</section>
{% endblock %}





