{% extends "base.html" %}

{% block title %}Michele Grimaldi - Home{% endblock %}

{% block content %}
<section id="bio">
    <h2>About Me</h2>
    <p>Hello, I'm Michele, a Technical Sound Designer and Audio Programmer with a passion for EDM and IDM. I craft immersive audio experiences for film and games.</p>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/df76xJoKzUI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VsgEQlxeEZ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <p>I specialize in crafting immersive sonic experiences for film, games, and interactive applications. I excel in creating spatialized soundscapes using Dolby Renderer in Nuendo and tools like Izotope Rx for post-production. Integrating Unreal Engine 5 with Visual Studio (or Wwise), I bring these experiences to life in video games. Proficient in C++, C#, Python, Lua, Rust, SQL, and frameworks like JUCE, I develop advanced audio software and tools.</p>
    </div>
    <div>
        <ul>
            <li>• Freelance Sound Engineer (Ultraradio, Barletta, Italy, Oct 2015-Nov 2015)</li>
            <li>• DJ (Iberostar Group, Crete, Greece, Mar 2014-Sep 2016)</li>
            <li>• Sound Engineer (Check Sound Service, Andria, Italy, Jun 2021-Oct 2021)</li>
            <li>• Freelance Sound Engineer (AudioOne, Barletta, Italy, Jul 2022-Oct 2022)</li>
            <li>• Freelance Composer (Subcult Joint LTD, Rome, Italy, Mar 2023)</li>
            <li>• Sound Designer / Composer (Upwork, Jan 2021-Present)</li>
            <li>• Foley Artist (Pond5, Jan 2022-Present)</li>
            <li>• Freelance Composer (Self Employed, Jan 2015-Present)</li>
            <li>• Sound Designer (Scuola Internazionale di Comics di Roma, Mar 2024)</li>
            <li>• Foley Artist (Studio 256, Rome, Italy, Apr 2024)</li>
            <li>• Technical Sound Designer/Audio Programmer (Freelance, 2024-Present)</li>
            <li>• Junior Programmer (Freelance, Mar 2024-Present)</li>
            <li>• Sound Designer, Audio Programmer, Composer (Remote Access Games, Apr 2024-Present)</li>
            <li>• Audio Lead (BG Arthouse Studio, Jun 2024-Present)</li>
        </ul>
    </div>
</section>
{% endblock %}






